.App {
  text-align: center;
}

.card {
  position: relative;
  width: 450px;
  height: auto;
  border-radius: 8px;
  background: #8fbc8f;
}

.card-header {
  background: #2e8b57;
  padding-top: 7px;
  height: 50px;
}

.description-section {
  margin-left: 20px;
  word-break: break-all;
  text-align: justify;
}

.detail-card {
  width: auto;
  padding-right: 20px;
  padding-left: 20px
}

.description {
  width: auto;
}

.rightside-descriptions {
  position: relative;
  right: 300px;
}
