.App {
  text-align: center;
}

.card {
  position: relative;
  width: 450px;
  height: 400px;
  border-radius: 8px;
  background: #8fbc8f;
}

.card-header {
  background: #2e8b57;
  padding-top: 5px;
  height: 40px;
}

.rightside-descriptions {
  position: relative;
  right: 450px;
}
