@tailwind base;
@tailwind components;
@tailwind utilities;


.card {
    position: relative;
    width: 450px;
    height: auto;
    border-radius: 8px;
    background: white;
}

.card-header {
    background: #2e8b57;
    padding-top: 7px;
    height: 50px;
}

.showcard {
    visibility: hidden;
}

.description-section {
    margin-left: 20px;
    word-break: break-all;
    text-align: justify;
}

.register-button {
    background: #CF8DCD;
    margin-left: auto;
    font-size: 0.7em;
    text-align: center;
    border-style: solid;
    box-sizing: border-box;
    width: 110px;
    margin-top: 1em;
    height: 40px;
    color: white;
    font-size: 1.1em;
}

.event-container {
    background-color: #94d02d;
}

.confirm-location {
    background: #CF8DCD;
    border-style: solid;
    box-sizing: border-box;
    width: 75px;
    margin-top: 1em;
    height: 40px;
    color: white;
    font-size: 1.1em;
}

.detail-card {
    background-color: white;
    width: auto;
    padding-right: 20px;
    padding-left: 20px
}

.description {
    width: auto;
}

.rightside-descriptions {
    position: relative;
    right: 300px;
}
